src/real_world/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/maniskill_sim_data/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/maniskill_sim_data/**/*.json text eol=lf
src/maniskill_sim_data/**/*.md text eol=lf
src/maniskill_sim_data/**/*.py text eol=lf
src/maniskill_sim_data/**/*.txt text eol=lf
